<section class='section' id="section01">
   <article class='notice_wrapper'>
      <div class='colum_area'>
         <div class='notice_header'>
            <h2>순서</h2>
         </div>
         <ul class='notice_list'>
            <% userList.forEach( user => { %>

               <% if(target.seq === user.seq) { %>
                <!-- 이번주 당번 -->
                  <li class="target">
                     <span class="number"><%= user.otherList %>.</span>
                     <p class="comment"><%= user.name %></p>
                     <span class="alert">이번주 당번</span>
                  </li>

               <% } else if(nextTarget.seq === user.seq) {%>
               <!-- 다음주 당번 -->
                  <li class="next_target">
                     <span class="number"><%= user.otherList %>.</span>
                     <p class="comment"><%= user.name %></p>
                     <span class="alert">다음주 당번</span>
                  </li>

               <% } else {%>
               <!-- 그 외 -->
                  <li>
                     <span class="number"><%= user.otherList %>.</span>
                     <p class="comment"><%= user.name %></p>
                  </li>
               <% } %>
               
            <% }) %>
         </ul>
      </div>
   </article>
</section>
<section class='section' id="section02">
   <article class='evrynSwork_wrapper'>
      <div class='colum_area'>
         <div class='evrynSwork_header'>
            <h2>모두의 일</h2>
            <!-- <button class='btn_evrynSwork_list'>
               <img src={pencil}/>
            </button> -->
         </div>
         <ul class='check_list'>
            <% everyWorks.forEach( work => { %>
               <li>
                  <%= work.content %>
                  <% if(work.highlight) { %>
                     <span>(<%= work.highlight %>)</span>
                  <% } %>
               </li>
            <% }) %>
         </ul>
      </div>
   </article>
   <article class='duty_wrapper'>
      <div class='colum_area'>
         <div class='duty_header'>
            <h2>당번의 일</h2>
            <!-- <button class='btn_duty_list'>
               <img src={pencil}/>
            </button> -->
         </div>
         <ul class='check_list col2'>
            <% targetWorks.forEach( work => { %>
               <li>
                  <%= work.content %>
                  <% if(work.highlight) { %>
                     <span>(<%= work.highlight %>)</span>
                  <% } %>
               </li>
            <% }) %>
         </ul>
      </div>
   </article>
</section>